@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Roboto", sans-serif;
	background: linear-gradient(90deg, #fff 50%, #4a1010 50%);
}
input{
	display: none;
}
img{
	width: 100%;
	height: 100%;
}
.book{
	display: flex;
}
#cover{
	width: 150px;
	height: 400px;
}
.flip-book{
	width: 150px;
	height: 400px;
	position: relative;
	perspective: 1500px;
}
.flip{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: left;
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	transition: .5s;
	color: #000;
}
p{
	font-size: 15px;
	line-height: 1.7;
}
.front{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	box-sizing: border-box;
	padding: 0 13px;
	box-shadow: inset 20px 0 50px rgba(0,0,0,0.5) 0 2px 5px rgba(0,0,0,.5);
}

.back{
	position: absolute;
	padding: 0 13px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	background: rgb(148, 32, 32);
	color: white;
}
.next-btn{
	position: absolute;
	bottom: 13px;
	right: 13px;
	cursor: pointer;
	color: #000;
}
.back-btn{
	position: absolute;
	bottom: 13px;
	right: 13px;
	cursor: pointer;
	color: #fff;
}
#p1{
	z-index: 5;
}
#p2{
	z-index: 4;
}
#p3{
	z-index: 3;
}
#p4{
	z-index: 2;
}
#p5{
	z-index: 1;
}
#c1:checked ~ .flip-book #p1{
	transform: rotateY(-180deg);
	z-index: 1;
}
#c2:checked ~ .flip-book #p2{
	transform: rotateY(-180deg);
	z-index: 2;
}
#c3:checked ~ .flip-book #p3{
	transform: rotateY(-180deg);
	z-index: 3;
}
#c4:checked ~ .flip-book #p4{
	transform: rotateY(-180deg);
	z-index: 4;
}
#c5:checked ~ .flip-book #p5{
	transform: rotateY(-180deg);
	z-index: 5;
}

audio {
	width: 100%;
}

.modal[open] {
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	border: none;
	overflow: hidden;
	background-image: url(./heart.jpg);
	background-position: right -6em bottom -2em;
	background-size: cover;
	background-repeat: no-repeat;
}

.modal-wrapper {
	height: 100%;
	width: 100%;
	z-index: 2;
}

.bold {
	font-size: 16px;
	font-weight: 700;
}

.box {
	position: absolute;
	height: 25%;
	width: 25%;
	top: 0;
	right: 0;
	background-color: #000;
}

.box2 {
	position: absolute;
	height: 25%;
	width: 25%;
	bottom: 0;
	left: 0;
	background-color: #000;
}

/* audio control */
.audio-player {
    width: auto;
    height: auto;
}

.audio-icon {
    width: 90%;
    height: 90%;
}

.audio-player {
    --player-button-width: 5rem;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.player-button {
    background-color: transparent;
    border: 0;
    width: var(--player-button-width);
    height: var(--player-button-width);
    cursor: pointer;
    padding: 0;
}

/* .open-btn {
	border: none;
	padding: 5px 10px;
	width: 100%;
	border-radius: 5px;
} */

.btn {
	padding: 10px;
	font-weight: 700;
	font-size: 1rem;
	text-decoration: none;
	text-align: center;
	transition: all .5s ease;
	cursor: pointer;
	border: none;
}

.btn-open {
	color: #e74c3c;
	padding-right: 0;
	background-color: #ffffff;
	-webkit-clip-path: polygon(0% 0%, 100% 0, 100% 70%, 90% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 0 100%);
}

.btn-open:hover { 
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);  
}

.btn-open:after {
	content: "\f004";
	color: #e74c3c;
	font-family: FontAwesome;
	display: inline-block;
	position: relative;
	right: -55px;
	transition: all 0.2s ease;
}

.btn-open:hover:after {
	margin: -5px 15px;
	right: 0px;
}

span{
	display: block;
}

.page-six {
	font-size: 20px;
	height: 100%;
	display: flex;
	align-items: center;
}

.small {
	font-size: 13px;
}

.ss {
	position: absolute;
	bottom: 0;
	font-size: 13px;
}

/* img {
	position: absolute;
	top: 0;
} */